<div class="component">
  <div class="upload-widget">
    <div style="background: url('{{$ctrl.media.url}}') top left / cover no-repeat;" class="bg"></div>
    <div ng-if="!$ctrl.uploading" class="text-center select">
      <div ng-if="$ctrl.media.type === 'AUDIO' && $ctrl.media.mediaId">
        <p>Audio actual:</p>
        <p>{{$ctrl.media.name}}</p>
        <hr>
      </div>

      <h5>{{($ctrl.title)? $ctrl.title : 'Seleccione archivo:'}}</h5>
      <div
        class="btn btn-primary btn-upload"
        upload-button
        param="file"
        data="{type: $ctrl.type}"
        accept="{{['image/jpeg', 'image/jpg']}}"
        url="{{$ctrl.endPoint}}"
        on-upload="$ctrl.onUpload(files)"
        on-success="$ctrl.onSuccess(response)"
        on-error="$ctrl.onError(response)"
        on-complete="$ctrl.onComplete(response)">
          Subir
      </div>
    </div>
    <div ng-show="$ctrl.uploading" class="text-center select">
      <h5>Subiendo...</h5>
      <div id="spinner" class="text-center" data-spinner='{"radius": 25}'></div>
    </div>
  </div>
</div>
