<div class="container grandParentContaniner">
  <div class="row parentContainer">
    <div class="col-md-4 col-sm-offset-4">
      <div class="card" id="parent">
        <form id="form_login" class="form" ng-submit="$ctrl.onLogin()">
          <div class="card-header" data-background-color="blue">
            <h4 class="title text-center">Inicia sesión</h4>
          </div>
          <div class="card-body">
            <div class="input-group">
              <span class="input-group-addon">
                  <i class="material-icons">face</i>
              </span>
              <div class="form-group is-empty">
                <input ng-model="$ctrl.auth.username" name="password" class="form-control" placeholder="Nombre de Usuario..." type="text">
                <span class="material-input"></span>
              </div>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                  <i class="material-icons">lock_outline</i>
              </span>
              <div class="form-group is-empty">
                <input ng-model="$ctrl.auth.password" name="password" class="form-control" placeholder="Password..." type="password">
                <span class="material-input"></span>
              </div>
            </div>

          </div>
          <div class="card-footer text-center justify-content-center">
            <button type="submit" class="btn btn-link btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
