<div class="component">
  <div class="row">
    <div class="col-sm-12">
      <form ng-submit="$ctrl.onSave()">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Noticia</h4>
          </div>
          <div class="card-body">
            <form ng-submit="onSave()">
              <div class="col-sm-6">
                <div class="form-group label-floating">
                  <label class="control-label">Titulo</label>
                  <input ng-model="$ctrl.news.title" type="text" class="form-control">
                </div>
                <div class="form-group label-floating">
                  <label class="control-label">Descricion</label>
                  <textarea ng-model="$ctrl.news.description" class="form-control"></textarea>
                </div>
                <div class="form-group label-floating">
                  <label class="control-label">Radios</label>
                  <select class="form-control" name="radios" ng-model="$ctrl.news.radios" multiple>
                    <option ng-repeat="radio in $ctrl.radios" ng-value="radio">{{radio.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Categoria</label>
                  <select class="form-control" name="radios" ng-model="$ctrl.news.category">
                    <option ng-repeat="category in $ctrl.categories" ng-value="category">{{category.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>
                    <input type="checkbox" ng-model="$ctrl.news.featured" name="featured">
                    Destacada
                  </label>
                </div>
                <div class="form-group">
                  <label>
                    <input type="checkbox" ng-model="$ctrl.news.enabled" name="enabled">
                    Activa
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <p>Imagen:</p>
                <upload-multimedia type="IMAGE" media-id="$ctrl.news.image"></upload-multimedia>
                <hr>
                <p>Audio:</p>
                <upload-multimedia type="AUDIO" media-id="$ctrl.news.audio"></upload-multimedia>
              </div>

              <div class="col-sm-12">
                <hr>
                <div class="text-right">
                  <a ui-sref="app.newsList" type="button" class="btn btn-danger bottom-right">
                    Cancelar
                  </a>
                  <button type="submit" class="btn btn-primary bottom-right">
                    Guardar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
