<div class="component">
  <div class="card">
    <div class="card-header" data-background-color="blue">
      <h4 class="title">Listado de noticias</h4>
    </div>

    <div class="card-content table-responsive">
      <table class="table">
        <thead>
        <th>Titulo</th>
        <th>Radios</th>
        <th>Destacada</th>
        <th>Activa</th>
        <th>Acciones</th>
        <tr ng-repeat="news in $ctrl.news">
          <td>
            <a href="#">{{news.title}}</a></td>
          <td>
            <span style="margin: 1px;" ng-repeat="radio in news.radios" class="label label-primary">
              {{radio.name}}
            </span>
          </td>
          <td>{{(news.featured)? 'Si' : 'No'}}</td>
          <td>{{(news.enabled)? 'Si' : 'No'}}</td>
          <td>
            <a ui-sref="app.newsEdit({ id: {{news.id}} })"
               class="btn btn-default btn-xs btn-round">
              <i class="material-icons">mode_edit</i>
            </a>
            <button ng-click="$ctrl.deleteNews(news.id)" class="btn btn-danger btn-xs btn-round">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-center">
        <ul uib-pagination total-items="$ctrl.totalCount" ng-model="$ctrl.currentPage" ng-change="$ctrl.pageChanged()"></ul>
      </div>

    </div>
  </div>

  <button ui-sref="app.newsCreate" class="btn btn-primary float-button">
    <i class="material-icons">add</i>
  </button>
</div>
