<div class="component">
  <form>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="form-group label-floating">
          <label class="control-label">Titulo</label>
          <input ng-model="$ctrl.news.title" type="text" class="form-control">
        </div>
        <div class="form-group label-floating">
          <label class="control-label">Descricion</label>
          <textarea ng-model="$ctrl.news.description" class="form-control"></textarea>
        </div>
        <div class="form-group label-floating">
          <label class="control-label">Radios</label>
          <select class="form-control" multiple name="radios" ng-model="$ctrl.news.radios" multiple>
            <option ng-repeat="radio in $ctrl.radios" ng-value="radios.id">{{radio.name}}</option>
          </select>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="$ctrl.news.featured" name="featured">
            Destacada
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="$ctrl.news.enabled" name="enabled">
            Activa
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
          <div class="fileinput-new thumbnail">
            <img src="http://demos.creative-tim.com/material-dashboard-pro/assets/img/image_placeholder.jpg" alt="...">
          </div>
          <!--<span class="btn btn-primary btn-file">
              <span class="fileinput-new">Select image</span>
          </span>-->
        </div>

        <label class="control-label">Audio</label>
        <input ng-model="$ctrl.news.title" type="file">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-right">
          <button type="button" class="btn btn-danger bottom-right">
            Cancelar
          </button>
          <button type="submit"class="btn btn-primary bottom-right">
           Guardar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
