<div class="component ad-form">
  <div class="row">
    <div class="col-sm-12 col-lg-8 col-lg-offset-2">
      <form name="form" ng-submit="$ctrl.onSave()">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Anuncio</h4>
          </div>
          <div class="card-body">
            <form ng-submit="onSave()">
              <div class="col-sm-12">
                <ol style="padding: 1rem 0 0 0;margin-bottom: 0;" class="breadcrumb">
                  <li class="text-bold">{{$ctrl.ad.radio.name}}</li>
                  <li>{{$ctrl.ad.tabName}}</li>
                  <li>{{$ctrl.ad.tabSection}}</li>
                </ol>
                <div class="form-group">
                  <label class="control-label">Tipo</label>
                  <select disabled class="form-control disabled" ng-model="$ctrl.ad.type">
                    <option ng-selected="$ctrl.ad.type"
                            value="single">
                      Individual
                    </option>
                    <option ng-selected="$ctrl.ad.type"
                            value="multiple">
                      Carousel
                    </option>
                  </select>
                </div>
                <div>
                  <label class="control-label">Activo</label>
                  <div>
                    <label>
                      <input ng-model="$ctrl.ad.enabled" type="checkbox">
                    </label>
                  </div>
                </div>
                <div ng-repeat="metadata in $ctrl.ad.metadata" class="form-group">
                  <div style="border: solid 1px #e2e2e2;padding: 1rem;" class="media">
                    <div class="media-left">
                      <upload-multimedia
                        type="IMAGE"
                        class="ad-uploader"
                        media="metadata.image"></upload-multimedia>
                    </div>
                    <div class="media-body" ng-if="metadata.image.mediaId || metadata.urlRedirect">
                      <div class="form-group label-floating show-errors">
                        <label class="control-label">Url</label>
                        <input ng-required="true" ng-model="metadata.urlRedirect" type="text" class="form-control">
                      </div>

                      <div style="position: absolute; bottom: 1rem;right: 1rem;" class="actions">
                        <button ng-click="$ctrl.onDeleteMetadata($index)" type="button" class="btn btn-danger btn-round">
                          <i class="material-icons">delete</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <hr/>
                  <button type="button"
                          ng-if="$ctrl.ad.metadata.length < $ctrl.MAX_LENGTH_METADATA[$ctrl.ad.type]"
                          ng-click="$ctrl.addMetadata()"
                          class="btn btn-primary">
                    Agregar Imagen
                  </button>
                </div>
              </div>
              <div class="col-sm-12">
                <hr>
                <div class="text-right">
                  <a ui-sref="app.adList" type="button" class="btn btn-danger bottom-right">
                    Cancelar
                  </a>

                  <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary bottom-right">
                    Guardar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
